{% assign data = site.data.data %}
{% if data.expertises.title %}
<div class="user">
  <h1>{{ data.expertises.title }}</h1>
  <p>{{ data.expertises.description }}</p>
</div>
<div class="user-data">
  {% for expertise in data.expertises.content %}
  <div class="user-details">
    <h2>{{ expertise.title }}</h2>
    <div class="user-expertise">
      {% for icon in expertise.icon %}
      {% if icon[1] %}
      <span class="devicon-{{ icon[1] }}-plain colored"></span>
      {% endif %}
      {% endfor %}
    </div>
    <p class="desc">{{ expertise.description }}</p>
  </div>
  {% endfor %}
</div>
{% endif %}