{% assign data = site.data.data %}
{% if data.expertises.title %}
<div class="user">
  <h1>{{ data.expertises.title }}</h1>
  <p>{{ data.expertises.description }}</p>
</div>
<div class="user-data">
  {% for expertise in data.expertises.content %}
  <div class="user-details">
    <h2>{{ expertise.title }}</h2>
    <div class="user-expertise">
      {% if expertise.icon.first %}
      <span class="devicon-{{ expertise.icon.first }}-plain colored"></span>
      {% endif %}
      {% if expertise.icon.second %}
      <span class="devicon-{{ expertise.icon.second }}-plain colored"></span>
      {% endif %}
      {% if expertise.icon.third %}
      <span class="devicon-{{ expertise.icon.third }}-plain colored"></span>
      {% endif %}
    </div>
    <p class="desc">{{ expertise.description }}</p>
  </div>
  {% endfor %}
</div>
{% endif %}