<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  {% assign favicons_path = '/assets/img/favicons' | relative_url %}
  <link rel="icon" type="image/png" href="{{ favicons_path }}/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{{ favicons_path }}/favicon.svg" />
  <link rel="shortcut icon" href="{{ favicons_path }}/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ favicons_path }}/apple-touch-icon.png" />

  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="{{ site.banner | absolute_url }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:type" content="website">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="{{ '/assets/img/banner/banner.png' | absolute_url }}">
  <meta name="twitter:url" content="{{ site.url }}">
  <link rel="manifest" href="{{ favicons_path }}/site.webmanifest" />

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>