{% assign data = site.data.data %}
<div class="projects">
  <h1>{{ data.project.title }}</h1>
  <p>{{ data.project.description }}</p>
</div>
{% for project in site.projects %}
{% assign mod = forloop.index | modulo: 2 %}
{% if mod == 0 %}
<div class="user-projects right">
  <div class="contents">
    <h3>{{ project.title }}</h3>
    <p>{{ project.excerpt }}</p>
    {% if project.link %}
    <div class="link">
      <a class="project-link" target="_blank" href="{{ project.link }}">Check Here</a>
    </div>
    {% endif %}
  </div>
  <div class="contents">
    <img alt="{{ project.title }}" src="{{ project.image | relative_url }}" />
  </div>
</div>
{% else %}
<div class="user-projects">
  <div class="contents">
    <img alt="{{ project.title }}" src="{{ project.image | relative_url }}" />
  </div>
  <div class="contents">
    <h3>{{ project.title }}</h3>
    <p>{{ project.excerpt }}</p>
    {% if project.link %}
    <div class="link">
      <a class="project-link" target="_blank" href="{{ project.link }}">Check Here</a>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
{% endfor %}