@font-face {
    font-family: "Ubuntu Sans";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSans-Thin.ttf") format("truetype");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Sans";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSans-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Sans";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSans-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Sans";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSans-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Sans";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Sans";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSans-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Sans";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Sans";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSans-Italic.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Sans";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Sans";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSans-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Sans";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Sans";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSans-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Sans";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Sans";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSans-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Sans";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Sans";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSans-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-display: swap;
    font-style: italic;
}

/* Condensed Styles */
@font-face {
    font-family: "Ubuntu Sans Condensed";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSansCondensed-Thin.ttf") format("truetype");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Sans Condensed";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSansCondensed-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Sans Condensed";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSansCondensed-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Sans Condensed";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSansCondensed-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Sans Condensed";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSansCondensed-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Sans Condensed";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSansCondensed-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Sans Condensed";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSansCondensed-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Sans Condensed";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSansCondensed-Italic.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Sans Condensed";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSansCondensed-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Sans Condensed";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSansCondensed-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Sans Condensed";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSansCondensed-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Sans Condensed";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSansCondensed-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Sans Condensed";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSansCondensed-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Sans Condensed";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSansCondensed-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Sans Condensed";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSansCondensed-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Sans Condensed";
    src:
        url($baseurl + "/assets/fonts/ubuntu-sans/UbuntuSansCondensed-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-display: swap;
    font-style: italic;
}
