.footer {
  background: $primary;
  padding: 5px 0;
  margin-top: 100px;
  text-align: center;
  font-size: 14px;
  color: #FFF;

  #copyright {
    margin-bottom: 0;
  }

  #credits {
    margin-top: 0;
  }

  .love {
    color: #f30b0b;
  }

  a {
    color: #FFF;

    &:hover {
      color: rgb(201, 200, 200);
    }

    &:active {
      color: rgb(201, 200, 200);
    }
  }

  @media only screen and (max-width: $cut) {
    font-size: 13px;
  }
}