#projects {
  width: 85%;
  margin: 0 auto;

  .projects {
    text-align: center;

    h1 {
      font-size: 40px;

      @media only screen and (max-width: $cut) {
        font-size: 35px;
      }
    }

    p {
      font-size: 16px;

      @media only screen and (max-width: $cut) {
        font-size: 13px;
      }
    }
  }

  .user-projects {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    @media only screen and (max-width: $cut) {
      margin: 60px 0 0 0;
      gap: 1rem;
      flex-wrap: wrap;

      h3 {
        margin-top: 0;
        padding-top: 0;
        text-align: center;
      }
    }

    .contents {
      flex-basis: 100%;

      h3 {
        font-size: 30px;

        @media only screen and (max-width: $cut) {
          font-size: 25px;
        }
      }

      p {
        text-align: justify;
        font-size: 16px;

        @media only screen and (max-width: $cut) {
          font-size: 13px;
        }
      }

      .link {
        text-align: left;

        .project-link {
          display: inline-block;
          font-weight: 400;
          line-height: 1.53;
          color: $primary;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          background-color: transparent;
          border: 1px solid $primary;
          padding: .4375rem 1.25rem;
          font-size: 0.9375rem;
          border-radius: 0.5rem;
          transition: color 0.3s ease-out,
            background-color 0.3s ease-out,
            border-color 0.3s ease-out;
          border-color: $primary;
          box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 255, 136, .4);

          &:hover {
            color: #fff;
            background-color: $tertiary;
            border-color: $tertiary;
            transform: translateY(-1px);
          }

          &:active {
            color: #fff;
            background-color: $tertiary;
            border-color: $tertiary;
          }

          @media only screen and (max-width: $cut) {
            padding: 0.3rem 0.8rem;
            font-size: 12px;
            border-radius: 0.4rem;
          }
        }

        @media only screen and (max-width: $cut) {
          text-align: center;
        }
      }
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
    }

    li {
      color: $primary;
      font-size: 1.1rem;
    }
  }
}

.right {
  @media only screen and (max-width: $cut) {
    flex-direction: column-reverse;
  }
}